<%- include('../partials/header') %>
<main>
    <h1>ALBUMS</h1>
    <section id="albums">
       <% albums.forEach(function(a) { %>
        <div>
            <button class="waves-effect #0277bd light-blue darken-3 btn-xsmall"><a href="/albums/<%= a._id%>">Details</a></button></br>
            <img src="<%= a.img %>" alt="<%= a.title %>" id="album-pic"></br>
            Title: <%= a.title %></br>
            Artisit: <%= a.artist %>
        </div>
       <% }) %>
    </section>
    <%- include('../partials/footer') %>