<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBUM DETAILS</title>
</head>
<body>
    <h1>ALBUM DETAILS</h1>
    <section>
        <div>Title: </div>
        <div><%= album.title %></div>
        <div>Artist: </div>
        <div><%= album.artist %></div>
        <div>Release Date: </div>
        <div><%= (album.releaseDate).toLocaleDateString() %></div>
        <div>Genre: </div>
        <div><%= album.genre %></div>
        <div>Explicit: </div>
        <div><%= album.explicit ? 'Yes' : 'No' %></div>
    </section></br>

    <br><h2>Reviews</h2>
    <form id="add-review-form" method="POST"
      action="/albums/<%= album._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>

    <a href="/albums">Back To Albums</a></br>
    <a href="/">Home</a>
</body>
</html>