<%- include('../partials/header') %>
<main>
  <h1>ARTISTS</h1>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Born</th>
          <th>Hometown</th>
        </tr>
      </thead>
      <tbody>
        <% artists.forEach(function(art) { %>
          <tr>
            <td><%= art.name %></td>
            <td><%- art.born ? art.born.toLocaleDateString() : '' %></td>
            <td><%= art.hometown %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('../partials/footer') %>