<%- include('./partials/header') %>
<main>
  <h1>ARTISTS</h1>
    <table id="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Born</th>
          <th>Hometown</th>
        </tr>
      </thead>
      <tbody>
        <% artists.forEach(function(art) { %>
          <tr>
            <td><%= artist.name %></td>
            <td><%= artist.born.toLocaleDateString() %></td>
            <td><%= artist.hometown %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include('./partials/footer') %>